/* Defaults */

body, html {
    padding: 0;
    margin: 0;
}

body {
    font: 1rem Helvetica, Verdana, Sans-Serif; /* 1rem = 16px */
    color: #665950;
    font-size: 16px;
}

header, main, footer, section, article, nav, div {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Colors */

body {
    background-color: #FCFAF8;
}

a {
    color: #4C86CF;
}

a:hover {
    color: #058;
}

h1 {
    color: #7ea107;
}

h2 {
    color: #7ea107;
}

h3 {
    color: #52463f;
}

em {
    color: #9A3098;
}

code {
    color: #8B1C00;
}

#why {
    background-color: #EBE8E5;
}

#login {
    background-color: #8FB209;
}

.borderGray {
    border-color: #DCDAD8;
}

.imgBorderGray {
    color: #E9DCE9;
}

/* Structuur */

.wrapper {
    width: 80%;
    min-width: 48.75rem;
    max-width:  85.375rem;
    margin: 0 auto;
}